<!doctype html>
<html>
<body>
<p><b>Thanks for Registering</b></p>
<table border=5>
<thead>
<td>Name</td>
<td>DOB</td>
<td>Sex</td>
<td>Email</td>
<td>Contact</td>
<td>Father Name</td>
<td>Mother Name</td>
<td>Father Occupation</td>
<td>Mother Occupation</td>
<td>Qualification</td>
<td>Medium</td>
<td>Percentage</td>
<td>Certificate</td>
<td>Institute</td>
<td>Country</td>
<td>State</td>
<td>District</td>
<td>Address</td>
</thead>


{% for v in value %}
<tr>
<td>{{v[0]}}</td>
<td>{{v[1]}}</td>
<td>{{v[2]}}</td>
<td>{{v[3]}}</td>
<td>{{v[4]}}</td>
<td>{{v[5]}}</td>
<td>{{v[6]}}</td>
<td>{{v[7]}}</td>
<td>{{v[8]}}</td>
<td>{{v[9]}}</td>
<td>{{v[10]}}</td>
<td>{{v[11]}}</td>
<td>{{v[12]}}</td>
<td>{{v[13]}}</td>
<td>{{v[14]}}</td>
<td>{{v[15]}}</td>
<td>{{v[16]}}</td>
<td>{{v[17]}}</td>
</tr>
{% endfor %}
</table>
<a href="/">Go back to home page</a>
</body>
</html>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            